<div class="display-4 py-4 px-1 text-center bg-primary text-white">Angular4 Paystack</div>
<div class="text-center lead">{{ title }}</div>
<div class="paystack-buttons text-center d-md-flex d-lg-flex d-xl-flex justify-content-between">
  <angular4-paystack
    [class]="'btn btn-primary m-3'"
    [key]="'pk_test_c613fc7d428a64fd1e5daea22f8380551b28c78e'" [email]="'mailexample@mail.com'"
    [amount]="'5000000'" [ref]="tRef" (close)="paymentCancel()" (callback)="paymentDone($event)"
    [class]="'btn btn-primary'"
  >Pay With Paystack component</angular4-paystack>
  
  <button
    class="btn btn-danger m-3"
    angular4-paystack
    [key]="'pk_test_c613fc7d428a64fd1e5daea22f8380551b28c78e'" [email]="'mailexample@mail.com'"
    [amount]="'5000000'" [ref]="tRef" (close)="paymentCancel()" (callback)="paymentDone($event)"
    [class]="'btn btn-primary btn-lg'"
    >Pay With Paystack Directive</button>
</div>
<h3 class="text-center my-3">Paystack Embed</h3>
<angular4-paystack-embed
  angular4-paystack
  [key]="'pk_test_c613fc7d428a64fd1e5daea22f8380551b28c78e'" [email]="'mailexample@mail.com'"
  [amount]="'5000000'" [ref]="tRef" (close)="paymentCancel()" (callback)="paymentDone($event)"
  [class]="'btn btn-primary btn-lg'"
></angular4-paystack-embed>