<div class="display-4 py-4 px-1 text-center bg-primary text-white">Angular4 Paystack</div>
<div class="text-center lead">{{ title }}</div>
<div class="container">
  <div class="paystack-buttons text-center d-md-flex d-lg-flex d-xl-flex justify-content-between">
    <angular4-paystack
      [class]="'btn btn-primary m-3'"
      [email]="'mailexample@mail.com'"
      (paymentInit)="paymentInit()"
      [amount]="5000000"
      [ref]="tRef"
      (onClose)="paymentCancel()"
      (callback)="paymentDone($event)"
      [class]="'btn btn-primary'"
    >
      Pay With Paystack component
    </angular4-paystack>

    <button
      class="btn btn-danger m-3"
      angular4-paystack
      [paystackOptions]="options"
      (onClose)="paymentCancel()"
      (paymentInit)="paymentInit()"      
      (callback)="paymentDone($event)"
      [class]="'btn btn-primary btn-lg'"
    >
      Pay With Paystack Directive
    </button>
  </div>
  <button class="btn btn-outline-dark mr-3" (click)="toggleEmbed()">Toggle embed</button>
  <button class="btn btn-outline-dark" (click)="setRandomPaymentRef()">Set random payment Ref</button>
  <h3>Embed {{ showEmbed ? 'visible' : 'hidden' }}</h3>
  <div>
    You can't have more than one payment Instance at a time. Hide paystack embed to try out
    paystack directive and paystack component
  </div>
  <h3 class="text-center my-3">Paystack Embed</h3>
  <div *ngIf="showEmbed">
    <angular4-paystack-embed
      angular4-paystack
      [email]="'mailexample@mail.com'"
      (paymentInit)="paymentInit()"      
      [amount]="5000000" [ref]="tRef" (onClose)="paymentCancel()" (callback)="paymentDone($event)"
      [class]="'btn btn-primary btn-lg'" [channels]="['card']"
    ></angular4-paystack-embed>
  </div>
</div>
